.details {
    height: 85vh;
}

.details-loading {
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}

.details-card {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 5px solid salmon;
    border-radius: 30px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(245, 162, 153, 0.8);
}

.details-img-btn {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.detals-image {
    width: 90%;
    border: 2px solid salmon;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: black 2px 2px 10px 2px;
}

.details-btn {
    font-size: larger;
    font-weight: bolder;
    display: flex;
    width: 20%;
    height: 10%;
    justify-content: center;
    align-items: center;
    background-color: salmon;
    border-radius: 30px;
    color: white;
    text-shadow: rgb(102, 52, 52) 2px 2px 3px;
    border: 2px solid rgb(209, 110, 97);
    transition: .3s;
    text-decoration: none;
}

.details-btn:hover {
    background-color: rgb(248, 224, 221);
    color: rgb(156, 87, 87);
    text-shadow: white 2px 2px 3px;
    cursor: pointer;
}

.details-text {
    grid-column: 2;
    width: 100vh;
    display: flex;
    flex-direction: column;
}

.text-title {
    text-shadow: white 1px 1px 2px;
}

.summary {
    width: 90vh;
}

a {
    color: black;
}

.error-recipe {
    display: flex;
    font-size: x-large;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
    text-shadow: red 2px 2px 5px;
    box-shadow: black 1px 1px 10px 2px;
    border: 2px solid salmon;
    border-radius: 30px;
    width: 20%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.error-recipe img {
    width: 80px;
    border-radius: 50%;
    padding: 10px;
    border: 2px solid salmon;
    box-shadow: black 1px 2px 10px 2px;
}

.steps {
    width: 90vh;
}
