.loading {
    position: relative;
    margin-top: 200px;
    margin-left: 700px;
    margin-right: 500px;
    width: 100vw;
    font-family: 'Averia Serif Libre', cursive;
    font-size: large;
}

.loading-image {
    border-radius: 100%;
    width: 500px;
}