.search-input {
    border-radius: 20px 0px 0px 20px;
    background-color: white;
    border: 2px solid salmon;
    text-align: center;
    height: 25px;
    color: rgb(47, 45, 45);
    font-family: 'Averia Serif Libre', cursive;
    font-size: large;
}

.search-btn {
    border-radius: 0px 20px 20px 0px;
    background-color: white;
    border: 2px solid salmon;
    text-align: center;
    height: 30px;
    color: rgb(47, 45, 45);
    text-shadow: salmon 1px 1px 5px;
    font-weight: bolder;
    font-family: 'Averia Serif Libre', cursive;
    font-size: large;
    transition: .2s;
}

.search-btn:hover {
    background-color: salmon;
    color: white;
    border-color: white;
    text-shadow: black 2px 2px 2px;
}