.card {
    background-color: rgba(250,128,114, 0.8);
    border: 4px solid transparent;
    width: 350px;
    height: 550px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    display: grid;
    grid-template-rows: 300px 1fr;
    grid-template-columns: 1fr;
    padding: 20px;
    box-shadow: black 1px 1px 10px 1px;
    transition: 0.3s;
    font-family: 'Averia Serif Libre', cursive;
    font-size: large;
}

.card:hover {
    box-shadow: black 4px 4px 20px 4px;
    background-color: rgba(250,128,114, 0.9);
    border: 4px solid rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.card-text {
    grid-row: 1;
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-rows: minmax(30px, 4);
    grid-template-columns: 1fr;
    grid-template-areas: 
    "title"
    "diets"
    "score";
    grid-gap: 20px;
}

.card-image{
    grid-row: 2;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.card-image img {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    border: 2px solid white;
    border-radius: 30px;
}

.card-score {
    grid-area: score;
}

.card-title {
    padding-top: 10px;
    grid-area: title;
    font-size: larger;
    font-weight: bolder;
    text-shadow: white 1px 1px 1px;
}

.card-diets {
    grid-area: diets;
    display: flex;
    flex-direction: column;
}